# SNHU Data - Clean / Consolidate / Investigate
#### Main Data Files
* SNHU_Kenzie_VEMO_ISAS.csv: Shows current snapshot of ISAs serviced by VEMO  XXX    
* SNHU_Kenzie_VEMO_MonthlySnapshot.csv: Status at every month                 X  
* SNHU_Kenzie_VEMO_MonthlyStatus.csv: Breakdown of monthly status             XX  
* SNHU_Kenzie_VEMO_Payments.csv: All Payments ever made                       XXXXX  
* SNHU_Kenzie_VEMO_Amount_Due.csv: Bills so payment can be traced             XXXX  
* SNHU_Kenzie_VEMO_Income.csv: Income that was verified for payment           XXXXX

In [49]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

from Isabel.simulation.utils.tools import (
    OC_COLORS,
    OC_TEMPLATE,
    irr_safe_monthly
)

In [14]:
pd.set_option('display.max_columns', 100)

## Current Snapshot File

In [15]:
df_current_state = pd.read_csv('data/SNHU_Kenzie_VEMO_ISAS.csv')

In [16]:
df_current_state

,SCHOOLNAME,VEMOACCOUNTNUMBER,MAILINGPOSTALCODE,VEMOCONTRACTNUMBER,ADJUSTMENTMETHOD,PAYMENTCAPFACTOR,FUNDINGAMOUNTPOSTCERTIFICATION,INCOMESHAREPOSTCERTIFICATION,PAYMENTTERMPOSTCERTIFICATION,TOTALDEFERMENTMONTHS,MINIMUMINCOMEPERMONTH,STATUS,CLOSEDDATE,CLOSEDREASON,DAYSPASTDUE,VERIFIEDANNUALINCOME,VERIFIEDANNUALINCOMETYPE,SERVICINGREASON,EFFECTIVEDATEOFCHANGE
0,Kenzie CIM,10007238,46038,1000002216,Payment Term,1.75,23000.0,13.0,48.0,48,3333.34,Deferment,NaN,NaN,0,NaN,NaN,Graduated,2019-05-24
1,Kenzie CIM,10007240,46219,1000002218,Payment Term,1.75,23000.0,13.0,48.0,48,3333.34,Payment,NaN,NaN,0,50000.0,Reported,Graduated,2019-11-20
2,Kenzie CIM,10007241,46220,1000002219,Payment Term,1.75,23000.0,13.0,48.0,48,3333.34,Payment,NaN,NaN,634,54995.0,Reported,Graduated,2019-01-08
3,Kenzie CIM,10007242,46163,1000002220,Payment Term,1.75,23000.0,13.0,48.0,48,3333.34,Payment,NaN,NaN,133,79997.0,Reported,Graduated,2019-01-04
4,Kenzie CIM,10007244,46201,1000002222,Payment Term,1.75,23000.0,13.0,48.0,48,3333.34,Payment,NaN,NaN,26,69446.0,Reported,Graduated,2019-09-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,SNHU,10013148,03110,1000008576,NaN,1.10,18279.0,5.0,72.0,60,1666.67,Payment,NaN,NaN,0,46890.0,Reported,Graduated,2021-05-02
568,SNHU,10013159,02878,1000008588,NaN,1.10,15048.0,5.0,72.0,60,1666.67,Payment,NaN,NaN,0,69539.0,Reported,Graduated,2021-05-02
569,SNHU,10014160,19144,1000009788,NaN,1.10,18279.0,5.0,72.0,60,1666.67,Deferment,NaN,NaN,0,47667.0,Reported,Graduated,2021-02-14
570,SNHU,10017066,14770,1000012994,NaN,1.10,16248.0,5.0,72.0,60,1666.67,Deferment,NaN,NaN,0,NaN,NaN,Graduated,2021-02-14
571,SNHU,10017796,87124,1000014402,NaN,1.10,18279.0,5.0,72.0,60,1666.67,Payment,NaN,NaN,0,47118.0,Reported,Graduated,2021-02-14

## Monthly History

In [17]:
current_status_df = pd.read_csv('data/SNHU_Kenzie_VEMO_MonthlySnapshot.csv')

In [18]:
current_status_df.tail()

,VEMOACCOUNTNUMBER,VEMOCONTRACTNUMBER,ASOFDATE,STATUS,STATUS_GROUP,DAYSPASTDUE
17032,10035588,1000010394,2021-11-30,Payment,Post-Grace,0
17033,10035588,1000010394,2021-12-31,Payment,Post-Grace,0
17034,10035588,1000010394,2022-01-31,Payment,Post-Grace,0
17035,10035588,1000010394,2022-02-28,Payment,Post-Grace,0
17036,10035588,1000010394,2022-03-31,Payment,Post-Grace,0

## Monthly Statuses

In [19]:
monthly_status_df = pd.read_csv('data/SNHU_Kenzie_VEMO_MonthlyStatus.csv')

In [20]:
monthly_status_df

,VEMOACCOUNTNUMBER,VEMOCONTRACTNUMBER,MONTH,ACTIVITY,COUNTASPAYMENTTERM,COUNTASDEFERMENT,COUNTASGRACE
0,10007238,1000002216,201906,Grace,False,False,True
1,10007238,1000002216,201907,Grace,False,False,True
2,10007238,1000002216,201908,Grace,False,False,True
3,10007238,1000002216,201909,Payment,True,False,False
4,10007238,1000002216,201910,Payment,True,False,False
...,...,...,...,...,...,...,...
11671,10035588,1000010394,202112,Payment,True,False,False
11672,10035588,1000010394,202201,Payment,True,False,False
11673,10035588,1000010394,202202,Payment,True,False,False
11674,10035588,1000010394,202203,Payment,True,False,False
11675,10035588,1000010394,202204,Payment,True,False,False

## Payment History

In [21]:
payment_df = pd.read_csv('data/SNHU_Kenzie_VEMO_Payments.csv')

In [22]:
payment_df.head()

,VEMOACCOUNTNUMBER,PAYMENTINSTRUCTIONNUMBER,DATEPOSTED,AMOUNTPOSTED,PAYMENTALLOCATIONNUMBER,ALLOCATIONTYPE,AMOUNTALLOCATED,VEMOCONTRACTNUMBER,FEETYPE
0,10007238,PI-00005717,2019-09-27,549.96,PA-00007773,Monthly Amount,549.96,1.000002e+09,NaN
1,10007238,PI-00006243,2019-11-01,549.96,PA-00008570,Monthly Amount,549.96,1.000002e+09,NaN
2,10007238,PI-00006773,2019-12-01,549.96,PA-00009298,Monthly Amount,549.96,1.000002e+09,NaN
3,10007238,PI-00007279,2020-01-01,549.96,PA-00010382,Monthly Amount,549.96,1.000002e+09,NaN
4,10007238,PI-00007997,2020-02-01,549.96,PA-00011375,Monthly Amount,549.96,1.000002e+09,NaN

# Amount Due

In [23]:
bill_df = pd.read_csv('data/SNHU_Kenzie_VEMO_Amount_Due.csv')

In [24]:
bill_df

,VEMOACCOUNTNUMBER,VEMOCONTRACTNUMBER,SCHOOLNAME,AMOUNTDUENAME,MONTHLYSTATUSNAME,TYPE,ASSESSMENTDATE,AMOUNT,INCOMESHARE,INCOMEVERIFICATIONNUMBER,AMOUNTALLOCATED,FULLYALLOCATED
0,10007238,1000002216,Kenzie Academy,AD-00010979,SS-0000025383,Monthly Amount,2019-09-20,549.96,13.0,IV-00003345,549.96,True
1,10007238,1000002216,Kenzie Academy,AD-00011549,SS-0000027203,Monthly Amount,2019-10-18,549.96,13.0,IV-00003345,549.96,True
2,10007238,1000002216,Kenzie Academy,AD-00012484,SS-0000029693,Monthly Amount,2019-11-19,549.96,13.0,IV-00003345,549.96,True
3,10007238,1000002216,Kenzie Academy,AD-00014312,SS-0000032627,Monthly Amount,2019-12-19,549.96,13.0,IV-00003345,549.96,True
4,10007238,1000002216,Kenzie Academy,AD-00015099,SS-0000034623,Monthly Amount,2020-01-17,549.96,13.0,IV-00003345,549.96,True
...,...,...,...,...,...,...,...,...,...,...,...,...
4279,10035588,1000010394,Kenzie Academy,AD-00083912,SS-0000195469,Monthly Amount,2021-12-16,920.83,13.0,IV-00024310,920.83,True
4280,10035588,1000010394,Kenzie Academy,AD-00090502,SS-0000206717,Monthly Amount,2022-01-16,920.83,13.0,IV-00024310,920.83,True
4281,10035588,1000010394,Kenzie Academy,AD-00097436,SS-0000218231,Monthly Amount,2022-02-16,920.83,13.0,IV-00024310,920.83,True
4282,10035588,1000010394,Kenzie Academy,AD-00104667,SS-0000229977,Monthly Amount,2022-03-16,920.83,13.0,IV-00024310,920.83,True
4283,10035588,1000010394,Kenzie Academy,AD-00111658,SS-0000241491,Monthly Amount,2022-04-16,920.83,13.0,IV-00024310,0.00,False

## Payment Allocation

In [25]:
allocation_df = pd.read_csv('data/SNHU_Kenzie_VEMO_Payment_Allocation.csv')

In [26]:
allocation_df.head()

,VEMOACCOUNTNUMBER,SCHOOLNAME,PAYMENTINSTRUCTIONNUMBER,DATEPOSTED,AMOUNTPOSTED,PAYMENTALLOCATIONNUMBER,ALLOCATIONTYPE,AMOUNTALLOCATED,VEMOCONTRACTNUMBER,AMOUNTDUENAME,FEETYPE
0,10007238,Kenzie Academy,PI-00005717,2019-09-27,549.96,PA-00007773,Monthly Amount,549.96,1.000002e+09,AD-00010979,NaN
1,10007238,Kenzie Academy,PI-00006243,2019-11-01,549.96,PA-00008570,Monthly Amount,549.96,1.000002e+09,AD-00011549,NaN
2,10007238,Kenzie Academy,PI-00006773,2019-12-01,549.96,PA-00009298,Monthly Amount,549.96,1.000002e+09,AD-00012484,NaN
3,10007238,Kenzie Academy,PI-00007279,2020-01-01,549.96,PA-00010382,Monthly Amount,549.96,1.000002e+09,AD-00014312,NaN
4,10007238,Kenzie Academy,PI-00007997,2020-02-01,549.96,PA-00011375,Monthly Amount,549.96,1.000002e+09,AD-00015099,NaN

## Income Information

In [27]:
income_df = pd.read_csv('data/SNHU_Kenzie_VEMO_Income.csv')

In [28]:
income_df

,VEMOACCOUNTNUMBER,SCHOOLNAME,INCOMEVERIFICATIONNUMBER,STATUS,BEGINDATE,ENDDATE,TYPE,INCOMEPERMONTH,INCOMEPERYEAR
0,10007238,Kenzie Academy,IV-00003345,Verified,2019-09-01,2021-01-31,Reported,4230.44,50765.0
1,10007238,Kenzie Academy,IV-00026172,Verified,2021-11-01,2021-10-31,Estimated,6595.42,79145.0
2,10007239,Kenzie Academy,IV-00003894,Verified,2019-02-01,2021-05-31,Estimated,7500.00,90000.0
3,10007239,Kenzie Academy,IV-00018148,Verified,2021-06-01,NaN,Estimated,8250.00,99000.0
4,10007240,Kenzie Academy,IV-00009075,Verified,2020-10-01,NaN,Reported,4166.67,50000.0
...,...,...,...,...,...,...,...,...,...
1344,10022207,Kenzie Academy,IV-00014231,Verified,2021-03-01,NaN,Estimated,6475.08,77701.0
1345,10035588,Kenzie Academy,IV-00012356,Verified,2021-01-01,2021-07-31,Reported,4166.67,50000.0
1346,10035588,Kenzie Academy,IV-00022304,Verified,2021-08-01,2021-08-31,Reported,3548.39,42581.0
1347,10035588,Kenzie Academy,IV-00022881,Verified,2021-09-01,2021-09-30,Reported,12083.33,145000.0
1348,10035588,Kenzie Academy,IV-00024310,Verified,2021-10-01,NaN,Reported,7083.33,85000.0

## Single Student Examination

In [29]:
ind = 15
student_account_id = df_current_state['VEMOACCOUNTNUMBER'].iloc[ind]

In [34]:
mask = df_current_state['VEMOACCOUNTNUMBER'] == student_account_id
df_current_state[mask]

,SCHOOLNAME,VEMOACCOUNTNUMBER,MAILINGPOSTALCODE,VEMOCONTRACTNUMBER,ADJUSTMENTMETHOD,PAYMENTCAPFACTOR,FUNDINGAMOUNTPOSTCERTIFICATION,INCOMESHAREPOSTCERTIFICATION,PAYMENTTERMPOSTCERTIFICATION,TOTALDEFERMENTMONTHS,MINIMUMINCOMEPERMONTH,STATUS,CLOSEDDATE,CLOSEDREASON,DAYSPASTDUE,VERIFIEDANNUALINCOME,VERIFIEDANNUALINCOMETYPE,SERVICINGREASON,EFFECTIVEDATEOFCHANGE
15,Kenzie CIM,10008202,46278,1000003266,Payment Term,1.75,23000.0,13.0,48.0,48,3333.34,Payment,NaN,NaN,0,57200.0,Reported,Graduated,2019-10-18

In [35]:
mask = current_status_df['VEMOACCOUNTNUMBER'] == student_account_id
current_status_df[mask]

,VEMOACCOUNTNUMBER,VEMOCONTRACTNUMBER,ASOFDATE,STATUS,STATUS_GROUP,DAYSPASTDUE
780,10008202,1000003266,2019-01-31,Fully Funded,In-School,0
781,10008202,1000003266,2019-02-28,Fully Funded,In-School,0
782,10008202,1000003266,2019-03-31,Fully Funded,In-School,0
783,10008202,1000003266,2019-04-30,Fully Funded,In-School,0
784,10008202,1000003266,2019-05-31,Fully Funded,In-School,0
785,10008202,1000003266,2019-06-30,Fully Funded,In-School,0
786,10008202,1000003266,2019-07-31,Fully Funded,In-School,0
787,10008202,1000003266,2019-08-31,Fully Funded,In-School,0
788,10008202,1000003266,2019-09-30,Fully Funded,In-School,0
789,10008202,1000003266,2019-10-31,Fully Funded,In-School,0
790,10008202,1000003266,2019-11-30,Grace,Grace,0
791,10008202,1000003266,2019-12-31,Grace,Grace,0
792,10008202,1000003266,2020-01-31,Grace,Grace,0
793,10008202,1000003266,2020-02-29,Payment,Post-Grace,0
794,10008202,1000003266,2020-03-31,Payment,Post-Grace,0
795,10008202,1000003266,2020-04-30,Payment,Post-Grace,0
796,10008202,1000003266,2020-05-31,Payment,Post-Grace,0
797,10008202,1000003266,2020-06-30,Payment,Post-Grace,0
798,10008202,1000003266,2020-07-31,Payment,Post-Grace,0
799,10008202,1000003266,2020-08-31,Payment,Post-Grace,0
800,10008202,1000003266,2020-09-30,Payment,Post-Grace,0
801,10008202,1000003266,2020-10-31,Payment,Post-Grace,0
802,10008202,1000003266,2020-11-30,Payment,Post-Grace,0
803,10008202,1000003266,2020-12-31,Payment,Post-Grace,0
804,10008202,1000003266,2021-01-31,Payment,Post-Grace,0
805,10008202,1000003266,2021-02-28,Payment,Post-Grace,0
806,10008202,1000003266,2021-03-31,Payment,Post-Grace,0
807,10008202,1000003266,2021-04-30,Payment,Post-Grace,0
808,10008202,1000003266,2021-05-31,Payment,Post-Grace,0
809,10008202,1000003266,2021-06-30,Payment,Post-Grace,0
810,10008202,1000003266,2021-07-31,Payment,Post-Grace,0
811,10008202,1000003266,2021-08-31,Payment,Post-Grace,0
812,10008202,1000003266,2021-09-30,Payment,Post-Grace,0
813,10008202,1000003266,2021-10-31,Payment,Post-Grace,0
814,10008202,1000003266,2021-11-30,Payment,Post-Grace,0
815,10008202,1000003266,2021-12-31,Payment,Post-Grace,0
816,10008202,1000003266,2022-01-31,Payment,Post-Grace,0
817,10008202,1000003266,2022-02-28,Payment,Post-Grace,0
818,10008202,1000003266,2022-03-31,Payment,Post-Grace,0

In [36]:
mask = monthly_status_df['VEMOACCOUNTNUMBER'] == student_account_id
monthly_status_df[mask]

,VEMOACCOUNTNUMBER,VEMOCONTRACTNUMBER,MONTH,ACTIVITY,COUNTASPAYMENTTERM,COUNTASDEFERMENT,COUNTASGRACE
638,10008202,1000003266,201911,Grace,False,False,True
639,10008202,1000003266,201912,Grace,False,False,True
640,10008202,1000003266,202001,Grace,False,False,True
641,10008202,1000003266,202002,Payment,True,False,False
642,10008202,1000003266,202003,Payment,True,False,False
643,10008202,1000003266,202004,Payment,True,False,False
644,10008202,1000003266,202005,Payment,True,False,False
645,10008202,1000003266,202006,Payment,True,False,False
646,10008202,1000003266,202007,Payment,True,False,False
647,10008202,1000003266,202008,Payment,True,False,False
648,10008202,1000003266,202009,Payment,True,False,False
649,10008202,1000003266,202010,Payment,True,False,False
650,10008202,1000003266,202011,Payment,True,False,False
651,10008202,1000003266,202012,Payment,True,False,False
652,10008202,1000003266,202101,Payment,True,False,False
653,10008202,1000003266,202102,Payment,True,False,False
654,10008202,1000003266,202103,Payment,True,False,False
655,10008202,1000003266,202104,Payment,True,False,False
656,10008202,1000003266,202105,Payment,True,False,False
657,10008202,1000003266,202106,Payment,True,False,False
658,10008202,1000003266,202107,Payment,True,False,False
659,10008202,1000003266,202108,Payment,True,False,False
660,10008202,1000003266,202109,Payment,True,False,False
661,10008202,1000003266,202110,Payment,True,False,False
662,10008202,1000003266,202111,Payment,True,False,False
663,10008202,1000003266,202112,Payment,True,False,False
664,10008202,1000003266,202201,Payment,True,False,False
665,10008202,1000003266,202202,Payment,True,False,False
666,10008202,1000003266,202203,Payment,True,False,False
667,10008202,1000003266,202204,Payment,True,False,False

In [38]:
mask = payment_df['VEMOACCOUNTNUMBER'] == student_account_id
payment_df_slice = payment_df[mask]
payment_df_slice

,VEMOACCOUNTNUMBER,PAYMENTINSTRUCTIONNUMBER,DATEPOSTED,AMOUNTPOSTED,PAYMENTALLOCATIONNUMBER,ALLOCATIONTYPE,AMOUNTALLOCATED,VEMOCONTRACTNUMBER,FEETYPE
448,10008202,PI-00008538,2020-03-02,595.78,PA-00012354,Monthly Amount,595.78,1.000003e+09,NaN
449,10008202,PI-00009055,2020-03-24,595.78,PA-00012942,Monthly Amount,595.78,1.000003e+09,NaN
450,10008202,PI-00009574,2020-04-15,297.89,PA-00013658,Monthly Amount,297.89,1.000003e+09,NaN
451,10008202,PI-00009807,2020-04-30,297.89,PA-00013974,Monthly Amount,297.89,1.000003e+09,NaN
452,10008202,PI-00010238,2020-05-15,297.89,PA-00014561,Monthly Amount,297.89,1.000003e+09,NaN
453,10008202,PI-00010394,2020-05-29,297.89,PA-00014863,Monthly Amount,297.89,1.000003e+09,NaN
454,10008202,PI-00010902,2020-06-15,297.89,PA-00015532,Monthly Amount,297.89,1.000003e+09,NaN
455,10008202,PI-00011142,2020-06-30,297.89,PA-00015917,Monthly Amount,297.89,1.000003e+09,NaN
456,10008202,PI-00011649,2020-07-16,595.78,PA-00016639,Monthly Amount,595.78,1.000003e+09,NaN
457,10008202,PI-00012438,2020-08-17,595.78,PA-00017719,Monthly Amount,595.78,1.000003e+09,NaN
458,10008202,PI-00013249,2020-09-16,595.78,PA-00018851,Monthly Amount,595.78,1.000003e+09,NaN
459,10008202,PI-00014389,2020-10-30,595.78,PA-00020307,Monthly Amount,595.78,1.000003e+09,NaN
460,10008202,PI-00015331,2020-12-01,595.78,PA-00022037,Monthly Amount,595.78,1.000003e+09,NaN
461,10008202,PI-00016381,2020-12-29,595.78,PA-00023114,Monthly Amount,595.78,1.000003e+09,NaN
462,10008202,PI-00017412,2021-01-22,595.78,PA-00024545,Monthly Amount,595.78,1.000003e+09,NaN
463,10008202,PI-00018641,2021-02-19,595.78,PA-00026212,Monthly Amount,595.78,1.000003e+09,NaN
464,10008202,PI-00020146,2021-03-22,595.78,PA-00028400,Monthly Amount,595.78,1.000003e+09,NaN
465,10008202,PI-00021693,2021-04-19,619.67,PA-00030648,Monthly Amount,619.67,1.000003e+09,NaN
466,10008202,PI-00023811,2021-05-26,619.67,PA-00033291,Monthly Amount,619.67,1.000003e+09,NaN
467,10008202,PI-00025931,2021-06-28,619.67,PA-00036120,Monthly Amount,619.67,1.000003e+09,NaN
468,10008202,PI-00028350,2021-07-30,619.67,PA-00039620,Monthly Amount,619.67,1.000003e+09,NaN
469,10008202,PI-00030852,2021-08-30,619.67,PA-00042093,Monthly Amount,619.67,1.000003e+09,NaN
470,10008202,PI-00033179,2021-09-30,619.67,PA-00045568,Monthly Amount,619.67,1.000003e+09,NaN
471,10008202,PI-00036200,2021-10-29,619.67,PA-00049274,Monthly Amount,619.67,1.000003e+09,NaN
472,10008202,PI-00039101,2021-11-30,619.67,PA-00053480,Monthly Amount,619.67,1.000003e+09,NaN
473,10008202,PI-00042225,2021-12-30,619.67,PA-00057471,Monthly Amount,619.67,1.000003e+09,NaN
474,10008202,PI-00045463,2022-01-31,619.67,PA-00062026,Monthly Amount,619.67,1.000003e+09,NaN
475,10008202,PI-00049125,2022-02-28,619.67,PA-00067045,Monthly Amount,619.67,1.000003e+09,NaN
476,10008202,PI-00054053,2022-03-31,619.67,PA-00072631,Monthly Amount,619.67,1.000003e+09,NaN

In [41]:
mask = bill_df['VEMOACCOUNTNUMBER'] == student_account_id
bill_df_slice = bill_df[mask]
bill_df_slice

,VEMOACCOUNTNUMBER,VEMOCONTRACTNUMBER,SCHOOLNAME,AMOUNTDUENAME,MONTHLYSTATUSNAME,TYPE,ASSESSMENTDATE,AMOUNT,INCOMESHARE,INCOMEVERIFICATIONNUMBER,AMOUNTALLOCATED,FULLYALLOCATED
479,10008202,1000003266,Kenzie Academy,AD-00016677,SS-0000037839,Monthly Amount,2020-02-18,595.78,13.0,IV-00004638,595.78,True
480,10008202,1000003266,Kenzie Academy,AD-00017627,SS-0000040549,Monthly Amount,2020-03-16,595.78,13.0,IV-00004638,595.78,True
481,10008202,1000003266,Kenzie Academy,AD-00018901,SS-0000043676,Monthly Amount,2020-04-16,595.78,13.0,IV-00004638,595.78,True
482,10008202,1000003266,Kenzie Academy,AD-00020141,SS-0000047139,Monthly Amount,2020-05-16,595.78,13.0,IV-00004638,595.78,True
483,10008202,1000003266,Kenzie Academy,AD-00021388,SS-0000051077,Monthly Amount,2020-06-16,595.78,13.0,IV-00004638,595.78,True
484,10008202,1000003266,Kenzie Academy,AD-00022856,SS-0000055448,Monthly Amount,2020-07-16,595.78,13.0,IV-00004638,595.78,True
485,10008202,1000003266,Kenzie Academy,AD-00024499,SS-0000060116,Monthly Amount,2020-08-16,595.78,13.0,IV-00004638,595.78,True
486,10008202,1000003266,Kenzie Academy,AD-00026253,SS-0000064930,Monthly Amount,2020-09-16,595.78,13.0,IV-00004638,595.78,True
487,10008202,1000003266,Kenzie Academy,AD-00028231,SS-0000070355,Monthly Amount,2020-10-16,595.78,13.0,IV-00004638,595.78,True
488,10008202,1000003266,Kenzie Academy,AD-00030270,SS-0000077128,Monthly Amount,2020-11-16,595.78,13.0,IV-00004638,595.78,True
489,10008202,1000003266,Kenzie Academy,AD-00032643,SS-0000084069,Monthly Amount,2020-12-16,595.78,13.0,IV-00004638,595.78,True
490,10008202,1000003266,Kenzie Academy,AD-00036306,SS-0000091124,Monthly Amount,2021-01-16,595.78,13.0,IV-00004638,595.78,True
491,10008202,1000003266,Kenzie Academy,AD-00039052,SS-0000097214,Monthly Amount,2021-02-16,595.78,13.0,IV-00004638,595.78,True
492,10008202,1000003266,Kenzie Academy,AD-00042264,SS-0000106041,Monthly Amount,2021-03-16,595.78,13.0,IV-00004638,595.78,True
493,10008202,1000003266,Kenzie Academy,AD-00045889,SS-0000114516,Monthly Amount,2021-04-16,619.67,13.0,IV-00015266,619.67,True
494,10008202,1000003266,Kenzie Academy,AD-00049352,SS-0000123595,Monthly Amount,2021-05-16,619.67,13.0,IV-00015266,619.67,True
495,10008202,1000003266,Kenzie Academy,AD-00053146,SS-0000133186,Monthly Amount,2021-06-16,619.67,13.0,IV-00015266,619.67,True
496,10008202,1000003266,Kenzie Academy,AD-00057243,SS-0000142796,Monthly Amount,2021-07-16,619.67,13.0,IV-00015266,619.67,True
497,10008202,1000003266,Kenzie Academy,AD-00062184,SS-0000153655,Monthly Amount,2021-08-16,619.67,13.0,IV-00015266,619.67,True
498,10008202,1000003266,Kenzie Academy,AD-00067024,SS-0000164537,Monthly Amount,2021-09-16,619.67,13.0,IV-00015266,619.67,True
499,10008202,1000003266,Kenzie Academy,AD-00072336,SS-0000175569,Monthly Amount,2021-10-16,619.67,13.0,IV-00015266,619.67,True
500,10008202,1000003266,Kenzie Academy,AD-00077822,SS-0000186351,Monthly Amount,2021-11-16,619.67,13.0,IV-00015266,619.67,True
501,10008202,1000003266,Kenzie Academy,AD-00083612,SS-0000196976,Monthly Amount,2021-12-16,619.67,13.0,IV-00015266,619.67,True
502,10008202,1000003266,Kenzie Academy,AD-00090205,SS-0000208330,Monthly Amount,2022-01-16,619.67,13.0,IV-00015266,619.67,True
503,10008202,1000003266,Kenzie Academy,AD-00097148,SS-0000219900,Monthly Amount,2022-02-16,619.67,13.0,IV-00015266,619.67,True
504,10008202,1000003266,Kenzie Academy,AD-00104380,SS-0000231699,Monthly Amount,2022-03-16,619.67,13.0,IV-00015266,619.67,True
505,10008202,1000003266,Kenzie Academy,AD-00111377,SS-0000243280,Monthly Amount,2022-04-16,619.67,13.0,IV-00015266,0.00,False

In [60]:
mask = income_df['VEMOACCOUNTNUMBER'] == student_account_id
income_df_slice = income_df[mask]
income_df_slice

,VEMOACCOUNTNUMBER,SCHOOLNAME,INCOMEVERIFICATIONNUMBER,STATUS,BEGINDATE,ENDDATE,TYPE,INCOMEPERMONTH,INCOMEPERYEAR
61,10008202,Kenzie Academy,IV-00004638,Verified,2020-02-01,2021-03-31,Reported,4582.93,54995.0
62,10008202,Kenzie Academy,IV-00015266,Verified,2021-04-01,NaN,Reported,4766.67,57200.0

In [77]:
augmented = []
prev = None
for ind, row in income_df_slice.iterrows():
    current = row.to_dict()
    print(current)
    if prev:
        prev
    augmented.append(current)
    prev = current
income_df_plot = pd.DataFrame(augmented)

{'VEMOACCOUNTNUMBER': 10008202, 'SCHOOLNAME': 'Kenzie Academy', 'INCOMEVERIFICATIONNUMBER': 'IV-00004638', 'STATUS': 'Verified', 'BEGINDATE': '2020-02-01', 'ENDDATE': '2021-03-31', 'TYPE': 'Reported', 'INCOMEPERMONTH': 4582.93, 'INCOMEPERYEAR': 54995.0}
{'VEMOACCOUNTNUMBER': 10008202, 'SCHOOLNAME': 'Kenzie Academy', 'INCOMEVERIFICATIONNUMBER': 'IV-00015266', 'STATUS': 'Verified', 'BEGINDATE': '2021-04-01', 'ENDDATE': nan, 'TYPE': 'Reported', 'INCOMEPERMONTH': 4766.67, 'INCOMEPERYEAR': 57200.0}

In [80]:
test = {'5': 4}

In [79]:
test

NameError: name 'test' is not defined

In [78]:
fig = make_subplots(specs=[[{"secondary_y": True}]])
fig.add_trace(
    go.Scatter(
        x=payment_df_slice["DATEPOSTED"],
        y=payment_df_slice["AMOUNTPOSTED"],
        mode="markers+lines",
        name="Student Payments",
        showlegend=True,
        hovertemplate="%{y:$,.0f}",
        marker=dict(color=OC_COLORS["base_colors"][0]),
    )
)

fig.add_trace(
    go.Scatter(
        x=bill_df_slice["ASSESSMENTDATE"],
        y=bill_df_slice["AMOUNT"],
        mode="markers+lines",
        name="Student Bill",
        showlegend=True,
        hovertemplate="%{y:$,.0f}",
        marker=dict(color=OC_COLORS["base_colors"][1]),
    )
)

fig.add_trace(
    go.Scatter(
        x=income_df_plot['BEGINDATE'],
        y=income_df_plot['INCOMEPERYEAR'],
        fill="tozeroy",
        name="Salary",
        hovertemplate="%{y:$,.0f}",
        marker=dict(color=OC_COLORS["purples"][0], opacity=0.1),
    ),
    secondary_y=True
)

fig.show()